
{% extends 'edx/base.html' %}

{% load core_extras %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans 'SIBS' %}
{% endblock title %}

{% block navbar %}
{% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block post_js %}
<script>
    var wpwlOptions = {
        locale: "{{locale}}"
    }
</script>

<script src="{{url}}"></script>

{% endblock %}

{% block content %}

<main id="main-content" aria-label="Checkout" tabindex=-1>
  <div class="container">
      <form action="{{shopperResultUrl}}" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>

  </div>
</main>

{% endblock content %}
